@import "../variables.scss";

body{
    background-color: $background;
    
}
html{
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
  }
.resume__view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    

}

.resume__view-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:50%;
    height:50%;

    img{
        width: 80px;
        height: 80px;
    }
}

.resume__view-links {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    padding-bottom: 0.2px;
    li{
        a{
            margin: 0 1rem;
            text-decoration: none;
            font-size: medium;
            font-family: $text-font;
            color: $text-color;
            font-size: 13px;
            
            text{
                color:$accent-color;
            }
        }
    }
}
.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: $accent-color;
        transition: width 0.25s ease-out;
        }
    &:hover{
        &::before{
            width: 100%;
        }
    }
  }
  @media
  (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
@media screen and (max-width: 1024px){
    .resume__view-logo{
        display: none;
    }
    .resume__view-links{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: rgba(10,25,47,0.95);
        left: 0;
        li{
            a{
                font-size: 10px;
            }
        }
    }
    .underline-hover-effect {
        &::before{
            display: none;
            }
        &:hover{
            color: $accent-color;
            transition: width 0.25s ease-out;
        }
    }
}