.navbar-contents {
  list-style: none;
  display: flex;
  gap: 15px;
}
.navbar-area {
  padding: 35px 55px 10px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.navbar-name-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.navbar-header-text {
  font-size: 16px;
  font-weight: 400;
  color: gray;
}

@media screen and (max-width: 890px) {
  .navbar-contents {
    display: none;
  }
  .navbar-name-text {
    margin-bottom: 15px;
  }
  .navbar-area {
    display: flex;
    justify-content: center;
  }
}
