.experience-header {
  font-size: 36px;
  margin-top: 100px;
  font-weight: 500;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 600;
}
.experience-area {
  padding-left: 65px;
}
.experience-paragraph-area {
  width: 500px;
  margin-left: 50px;
  margin-bottom: 20px;
}
.company-name-experience {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}
.italic-date {
  font-style: italic;
  font-size: 15px;
}
.experience-role {
  font-weight: 500;
}
.experience-text-content {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 890px) {
  .experience-paragraph-area {
    width: 100%;
    margin-left: 0;
  }
  .experience-area {
    padding-left: 0;
    padding-right: 0;
  }
  .experience-text-content {
    display: initial;
    width: 100%;
  }
  .experience-bullets {
    width: 100%;
  }
}
