.profile-photo-shaping {
  width: 300px;
  border-radius: 400px;
}
.aboutme-text-area {
  width: 500px;
  margin-left: 125px;
  display: flex;
  justify-content: center;
}
.aboutme-section-area {
  padding-top: 125px;
  display: flex;
  justify-content: center;
}
.aboutme-header-text {
  font-size: 72px;
  font-weight: 600;
}

.aboutme-paragraph-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}

@media screen and (max-width: 890px) {
  .aboutme-section-area {
    flex-direction: column;
    padding-top: 50px;
  }
  .mobile-centering {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .aboutme-text-area {
    margin-left: 0;
    display: flex;
    width: fit-content;
    text-align: center;
  }
  .aboutme-header-text {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .aboutme-paragraph-text {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
